SPRING_PROFILES_ACTIVE=local

MYSQL_ROOT_PASSWORD=root
MYSQL_USER=inventra
MYSQL_PASSWORD=inventra

REPOSITORY_PATH=https://github.com/jmiwassjukourens/inventra-config-repo/
GIT_USERNAME=
GIT_TOKEN=

JAVA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75
